FRONTEND_URL=http://localhost:3000

SF_ACCOUNT=
SF_USER=
SF_PASSWORD=
SF_WAREHOUSE=
SF_DATABASE=
SF_SCHEMA=
SF_ROLE=

PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=OPTIONAL